.deals{
  margin: 0 auto;
  min-height: 800px;
  width: 800px;
  h2{
    text-align: center;
    color:white;
    font-family: $secondary-col;
    text-transform: capitalize;
    padding: 1em 0;
    font-size: 2.5em;
  }
  p{
    color:white;
    font-family: $secondary-col;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2em;
    padding: 0.5em 0;
  }
}

.plan-container{
  
  .plans{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 4em 0;
    text-align: center;
    text-transform: capitalize;
    color:white;
    font-family: $primary-font;
    font-size: .75em;
    h3{
      color: $primary-col;
      font-family: $secondary-font;
      font-size: 1.6em;
    }
    button{
      @include Btn;
      background-color: $primary-col;
      width: 120px;
      border-radius: 5px;
    }

    .most-popular{
      color: $primary-col;
    }
  }

}
.price-info, .included-ads, .users, .devices, .download{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-family: $primary-font;
  font-size: 1em;
  text-align: center;
  text-transform: capitalize;
  border-top: thin solid $bg-light-col;
}

i{
  color:white;
  margin-top: 5px;
}
.popular-plan{
  background-color:  darken($bg-dark-col,10px);
}