.product-contents{
  height: 1000px;
  background-color: darken($bg-dark-col, 30%);
  .general{
    .included{
      text-align: center;
      color: white;
      padding-top: 1em;
      margin-bottom: 1em;
      color: $primary-col;
      font-size: 1.05em;
      text-transform: uppercase;
    }
    h2{
      color:white;
      text-transform: capitalize;
      text-align: center;
      font-size: 2em;
      margin-bottom: 1em;
    }
    .seasons{
      text-align: center;
      color:white;
      text-transform: capitalize;
    }
  }
}

.video-content{
  display: flex;
  justify-content: space-evenly;
  column-gap: 50px;
  align-items: center;
  list-style: none;
  color: white;
   .movie{
     padding-top: 50px;
    figcaption,h3{
      padding: .5em;
      position: relative;
      text-align: left;
      bottom: 520px;
      font-size: 1.2em;
      background-color: rgba(0, 0, 0, 0.7);
      text-transform: capitalize;
    }
    h3{
      color: $primary-col;
    }
   }
}
.grid-img{
  width: 300px;
  height: 500px;
}

@media (max-width: 600px){
  .video-content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    .movie{
      figcaption,h3{
        padding: 0;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom:230px;
      }
    }
  }
  .grid-img{
    width: 180px;
    height: 200px;
  }
 
}