@import 'config';
@import 'info';
@import 'product-content';

nav{
  position: sticky;
  width: 100vw;
  height: 100px;
  background-color: darken($bg-dark-col,1px);
  z-index:0;
  h1{
   @include Logo;
  }
  ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto minmax(10px,12em) minmax(10px,12em);
    li{
      padding:1em 1em;
      button{
        @include Btn;
        font-size: 1.3em;
        width: 75px;
      }
      .register{
        color: $secondary-col;
      }
    }
   
  }

}

@media (max-width: 600px){

  nav{
 
    min-height: 120px;
    ul{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li{
        font-size: .7em;
        margin: 0;
      }
    }
  }
}