@import 'config';

nav{
  position: sticky;
  width: 100vw;
  height: 100px;
  background-color: $bg-dark-col;
  z-index:0;
  h1{
    font-family: $primary-font;
    text-indent: 2em;
    text-transform: capitalize;
    font-size: 2em;
    color: $bg-light-col;
    span{
      color: $primary-col;
    }
  }
  ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto minmax(10px,12em) minmax(10px,12em);
    li{
      padding:1em 1em;
      button{
        @include Btn;
        font-size: 1.3em;
        width: 75px;
      }
      .register{
        color: $secondary-col;
      }
    }
   
  }

}

@media (min-height: 700px){

  nav{
    h1{
      text-indent: 0.5em;
      padding:  0.5em 0;
      font-size: 1.2em;
    }
   
    ul{
      grid-template-columns: auto auto  auto;
      li{  
        button{
          @include Btn;
          text-align: left;
          font-size: 1.05em;
        }
     }
    }
  }
}